{% block body %}
    <article>
        {% if loop is defined and loop.first %}
            <span>Nouveau</span>
        {% endif %}
        <h3 >{{ h.theme }}</h3>
        <p >{{ h.ville|raw }} — {{ h.lieu }}</p>
        <p>
            Du {{ h.debut|date('d/m H:i') }} au {{ h.fin|date('d/m H:i') }}
        </p>
        {% if h.affiche %}
        {% endif %}
    </article>
{% endblock %}
