{% extends 'base.html.twig' %}

{% block title %}{{ titre_page }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% set date =  'now'|date("j F Y")  %}

    {% set heure = 'now'|date ("H:i") %}
    <p>Nous sommes le {{ date |upper}} et il est {{ heure }}</p>

    {% if connected %}
        <h3>Vous etes connecté ! :)</h3>
        <h2>Les futurs évênements</h2>
        {% if hackathons is empty %}
            <p>Aucun futur evênements</p>
        {% else %}
            <ul>
                {% for h in hackathons %}

                    <p>{{ h.id }}. <strong>{{ h.theme|raw }}</strong> à {{ h.ville }} au {{ h.lieu }} du ({{ h.debut|date('d/m H:i') }}  au  {{ h.fin|date('d/m H:i') }})</p>

                    {% if h.affiche is not null %}
                        <p>Il n'y a pas d'affiche disponible pour le hackathon n°{{ loop.index }}</p>
                    {% else %}
                        <p>Il y a une affiche disponible pour le hackathon n°{{ loop.index }}</p>
                        <img src="{{h.affiche }}" alt="|Affiche|" width="120">
                    {% endif %}

                    {% if loop.first %}
                        <span><strong>^^^ Nouveau ^^^</strong></span>
                    {% endif %}

                {% endfor %}
            </ul>
        {% endif %}

        <div>
            {% for h in hackathons %}
                {% include 'Partials/_card_hackathon.html.twig' with { h: h } %}
            {% endfor %}
        </div>


    {% else %}
        <a href="#">Se Connecter !</a>
    {% endif %}


    {% import 'macros/_ui.twig' as ui %}
    {{ ui.badge('Inscrivez-vous !') }}
</div>
{% endblock %}
